<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Евклид проектные системы</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/simplebar@latest/dist/simplebar.css"
    />
    <link rel="stylesheet" href="/css/choices.min.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>

  <body>
    <section class="container">
      <h2 style="display:none;">title</h2>

      <div class="checkbox-container">
        <div class="checkbox-title">Категории:</div>

        <div class="checkbox-list">
          <label class="checkbox-item" for="check1">
            <input class="checkbox" type="checkbox" name="check1" id="check1" />
            <span class="checkbox__icon-border">
              <svg
                class="checkbox__icon"
                width="8"
                height="8"
                viewBox="0 0 8 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 4.47742L3.10291 6.58033L7.58033 2.10291"
                  stroke="#CCB26E"
                />
              </svg>
            </span>

            Динозавры
          </label>

          <label class="checkbox-item" for="check2">
            <input class="checkbox" type="checkbox" name="check2" id="check2" />
            <span class="checkbox__icon-border">
              <svg
                class="checkbox__icon"
                width="8"
                height="8"
                viewBox="0 0 8 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 4.47742L3.10291 6.58033L7.58033 2.10291"
                  stroke="#CCB26E"
                />
              </svg>
            </span>

            Медведи
          </label>

          <label class="checkbox-item" for="check3">
            <input class="checkbox" type="checkbox" name="check3" id="check3" />
            <span class="checkbox__icon-border">
              <svg
                class="checkbox__icon"
                width="8"
                height="8"
                viewBox="0 0 8 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 4.47742L3.10291 6.58033L7.58033 2.10291"
                  stroke="#CCB26E"
                />
              </svg>
            </span>

            Косули
          </label>

          <label class="checkbox-item" for="check4">
            <input class="checkbox" type="checkbox" name="check4" id="check4" />
            <span class="checkbox__icon-border">
              <svg
                class="checkbox__icon"
                width="8"
                height="8"
                viewBox="0 0 8 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 4.47742L3.10291 6.58033L7.58033 2.10291"
                  stroke="#CCB26E"
                />
              </svg>
            </span>

            Лисы
          </label>

          <label class="checkbox-item" for="check5">
            <input class="checkbox" type="checkbox" name="check5" id="check5" />
            <span class="checkbox__icon-border">
              <svg
                class="checkbox__icon"
                width="8"
                height="8"
                viewBox="0 0 8 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 4.47742L3.10291 6.58033L7.58033 2.10291"
                  stroke="#CCB26E"
                />
              </svg>
            </span>

            Волки
          </label>

          <label class="checkbox-item" for="check6">
            <input
              class="checkbox"
              type="checkbox"
              name="check5=6"
              id="check6"
            />
            <span class="checkbox__icon-border">
              <svg
                class="checkbox__icon"
                width="8"
                height="8"
                viewBox="0 0 8 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 4.47742L3.10291 6.58033L7.58033 2.10291"
                  stroke="#CCB26E"
                />
              </svg>
            </span>

            Олени и лоси
          </label>
        </div>
      </div>

      <div class="select-container">
        <select class="select" name="select">
          <option class="select__option" value="N">Материал</option>
          <option class="select__option" value="Древесина">Древесина</option>
          <option class="select__option" value="Металл">Металл</option>
          <option class="select__option" value="Камень">Камень</option>
          <option class="select__option" value="Пластик">Пластик</option>
          <option class="select__option" value="Композитный">
            Композитный
          </option>
          <option class="select__option" value="Гипс">Гипс</option>
        </select>
      </div>

      <div class="map" id="map"></div>

      <div class="scrollBar-wrapper">
        <div class="scrollBar" data-simplebar>
          <p>
            Сложно сказать, почему многие известные личности представлены в
            исключительно положительном свете. Лишь активно развивающиеся страны
            третьего мира будут объективно рассмотрены соответствующими
            инстанциями. Мы вынуждены отталкиваться от того, что
            высокотехнологичная концепция общественного уклада представляет
            собой интересный эксперимент проверки глубокомысленных рассуждений.
            Имеется спорная точка зрения, гласящая примерно следующее:
            непосредственные участники технического прогресса освещают
            чрезвычайно интересные особенности картины в целом, однако
            конкретные выводы, разумеется, обнародованы. Значимость этих проблем
            настолько очевидна, что социально-экономическое развитие, а также
            свежий взгляд на привычные вещи - безусловно открывает новые
            горизонты для первоочередных требований.
          </p>
        </div>
      </div>

      <form class="form" action="https://jsonplaceholder.typicode.com/posts" method="POST">
        <div class="form__inputs">
          <div class="form__input-wrapper">
            <input
              class="form__input"
              type="text"
              name="name"
              placeholder="Имя*"
              data-validate-field="name"
            />
          </div>
          <div class="form__input-wrapper">
            <input
              class="form__input form__input-phone"
              type="tel"
              name="phone"
              placeholder="Телефон*"
              data-validate-field="tel"
              data-validate-rules="phone"
            />
          </div>
          <div class="form__input-wrapper">
            <input
              class="form__input"
              type="email"
              name="email"
              placeholder="E-mail*"
              data-validate-field="email"
            />
          </div>
        </div>
        <button class="form__btn">Заказать</button>
      </form>

    </section>


    <section class="container">
      <h2 style="display:none;">title</h2>
      <div class="tooltip-content">
        Следует отметить, что социально-экономическое развитие способствует
        повышению качества переосмысления внешнеэкономических политик.
        <button class="tooltip" data-tippy-content="Глава 2, страница 176">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8 3C7.33333 3 7 3.31919 7 3.95758C7 4.60026 7.33333 4.92159 8 4.92159C8.33333 4.92159 8.58233 4.83805 8.74699 4.67095C8.91566 4.49957 9 4.26178 9 3.95758C9 3.31919 8.66667 3 8 3ZM7.07831 13H8.91566V5.81491H7.07831V13Z"
              fill="#BCBCBC"
            />
          </svg>
        </button>
      </div>
    </section>

    <script src="/js/choices.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="/js/inputmask.min.js"></script>
    <script src="/js/just-validate.min.js"></script>

    <script src="/js/popper.min.js"></script>
    <script src="/js/tippy-bundle.umd.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
