@font-face {

  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("Open Sans-Regular"),
    url("../fonts/opensans-regular.woff2") format("woff2"),
    url("../fonts/opensans-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans semiBold"), local("Open Sans-semi-Bold"),
    url("../fonts/opensans-semibold.woff2") format("woff2"),
    url("../fonts/opensans-semibold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("Open Sans-Bold"),
    url("../fonts/opensans-bold.woff2") format("woff2"),
    url("../fonts/opensans-bold.woff") format("woff");
}

/* общие стили*/
* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", Arial, sans-serif;
}
body {
  background: #E5E5E5;
}

a,
button {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

input {
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
  background: transparent;
}
input:focus {
  outline: none;
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #C7C7C7;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-appearance: none;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* кнопки */
.btn-reset {
  padding: 0;
  border: 0;

  background: none;

  cursor: pointer;
}
.btn-reset:focus {
  outline: none;
}
.btn-svg-wrapper {
  position: relative;
  top: 1px;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  border: 2px solid #8052FF;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}
.btn-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  fill: #8052FF;
  transform: translate(-50%, -50%);
  transition: fill .3s ease-in-out;
}

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 12px 35px 12px;

  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
}
.btn-main:disabled {
  cursor: no-drop;
}
.btn-main:focus-visible {
  outline: none;
}

.btn-main--primary {
  color: #FFF;
  background: #9873FF;

  transition: background-color .3s ease-in-out;
}
.btn-main--primary:disabled {
  background-color: gray;
}

.btn-main--primary:focus-visible:not(:disabled) {
  background-color: #B89EFF;
}
.btn-main--primary.btn-loading,
.btn-main--primary:active:not(:disabled) {
  background-color: #8052FF;
}
.btn-main--secondary {
  border: 1px solid #9873FF;

  color: #9873FF;

  background-color: transparent;

  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.btn-main--secondary:disabled {
  border-color: gray;
  color: gray;
}
.btn-main--secondary:focus-visible:not(:disabled){
    color: #ffffff;
    background-color: #9873FF;
}
.btn-main--secondary:active:not(:disabled) {
  background-color: #8052FF;
  color: #ffffff;
}
.btn-main--secondary:focus-visible:not(:disabled) .btn-main__svg,
.btn-main--secondary:active:not(:disabled) .btn-main__svg {
  fill: #ffffff;
}
.btn-main__svg {
  fill: #9873FF;
  margin-right: 10px;
  width: 23px;
  height: 16px;

  transition: fill .3s ease-in-out;
}
.btn-main--secondary:disabled .btn-main__svg{
  fill: gray;
}

button:not(.btn-loading) .load-svg {
  display: none;
}
.load-svg {
  width: 10px;
  height: 10px;
  stroke: #B89EFF;
  fill: transparent;
  margin-right: 10px;
  transition: transform 0.5s ease;
  -webkit-animation: rotate 0.7s infinite linear;
          animation: rotate 0.7s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn-link {
  font-size: 12px;
  line-height: 16px;
  border-bottom: 1px solid #333;
  text-decoration: none;
  color: #333;
  transition: border-color .3s ease-in-out, opacity .3s ease-in-out;
  outline: none;
}
.btn-link:focus-visible {
  opacity: 0.7;
  border-color: transparent;
}

.container-lg {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1366px;
}
.container {
  max-width: 1226px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-title {
  margin: 0 0 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}


/*Форма*/

.form__title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.form__title--center {
  text-align: center;
}
.form__title-id {
  display: inline-block;
  margin-left: 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #B0B0B0;
}
.form__text{
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.form__text--center {
  text-align: center;
}

.form__errors-messages {
  margin-left: auto;
  margin-right: auto;
}
.form__errors-message {
  margin-top: -20px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #F06A4D;
}
.fields-group {
  margin-bottom: 25px;
}
.field-row {
  display: flex;
  margin-bottom: 15px;
}
.field-row:last-child{
  margin-bottom: 0;
}

.field-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.field-wrapper:last-child {
  margin-bottom: 0;
}
.field-desc {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 14px;
  line-height: 19px;
  color: #B0B0B0;
  transform: translateY(-50%);
  transform-origin: 0 0;
  transition: transform .3s ease-in-out;
}

.field-desc__star {
  color: #9873FF;
}
.field-text {
  position: relative;
  width: 100%;
  padding: 25px 0 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border-bottom: 1px solid #C8C5D1;
}
.field-wrapper--no-empty .field-desc,
.field-text:focus + .field-desc{
  transform: scale(.8) translateY(-100%);
}

.form__btn-wrapper {
  margin-bottom: 5px;
}
.form__btn-wrapper:last-child {
  margin-bottom: 0;
}
.form__btn-add {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #333333;

  transition: color .3s ease-in-out;
}

.field-text-border {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid #A1A1A1;
}

.field-text-border::-webkit-input-placeholder {
  color: #B0B0B0;
}

.field-text-border::-moz-placeholder {
  color: #B0B0B0;
}

.field-text-border:-ms-input-placeholder {
  color: #B0B0B0;
}

.field-text-border::-ms-input-placeholder {
  color: #B0B0B0;
}

.field-text-border::placeholder {
  color: #B0B0B0;
}
.delete-contact {
  margin-left: -1px;
  width: 27px;
  border: 1px solid #A1A1A1;
  background-color: #C8C5D1;
  transition: border-color .3s ease-in-out;
}
.delete-contact__svg {
  width: 12px;
  height: 12px;
  fill: #A1A1A1;
  transition: fill .3s ease-in-out;
}

.field-input {
  padding: 0;
  border: 0;
  width: auto;
  height: auto;

  background: transparent;
}
.field-input:focus {
  outline: none;
}

.search-input {
  padding: 12px 16px 11px;
  border: 1px solid #B0B0B0;

  font-size: 14px;
  line-height: 19px;
  color: #333;

}
.search-input::-webkit-input-placeholder {
  color: #B0B0B0;
}
.search-input::-moz-placeholder {
  color: #B0B0B0;
}
.search-input:-ms-input-placeholder {
  color: #B0B0B0;
}
.search-input::-ms-input-placeholder {
  color: #B0B0B0;
}
.search-input::placeholder {
  color: #B0B0B0;
}

.field-select {
  position: relative;
  width: 123px;
}
.field-select__input {
  position: relative;
  width: calc(100% + 1px);
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #A1A1A1;
  text-align: left;
  background-color: #C8C5D1;
}
.field-select__value {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}
.field-select__arrow {
  width: 12px;
  height: 12px;
  flex: 0 0 auto;
  fill: #9873FF;
  transition: transform .3s ease-in-out;
}
.field-select__list {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: calc(100% + 1px);
  max-width: 300px;
  max-height: 158px;
  overflow: auto;
  border: 1px solid #A1A1A1;
  background-color: #F4F3F6;
  z-index: 3;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}
.field-select:not(.field-select--display) .field-select__list {
  display: none;
}
.field-select:not(.field-select--show) .field-select__list {
  transform: translateY(-20px);
  opacity: 0;
}

.field-select--show .field-select__list{
  opacity: 1;
  transform: translateY(-1px);
}

.field-select--show .field-select__arrow {
  transform: rotate(-180deg);
}

.field-select__item {
  display: block;
  padding: 10px 12px;
  font-size: 12px;
  line-height: 19px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}
.field-select__item--selected {
  display: none;
}
.field-select__radio {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

/* шапка*/
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;

  padding: 20px 0;
  min-height: 90px;

  background-color: #FFF;
  box-shadow: 0px 9.03012px 27.0904px rgb(176 190 197 / 32%), 0px 3.38629px 5.64383px rgb(176 190 197 / 32%);
}

.header__container {
  display: flex;
  align-items: center;

  font-size: 0;
}

.header__logo {
  margin-right: 53px;
  width: 50px;
  height: 50px;
}
.header__search-input {
  width: 580px;
}


/* контент */
.main {

}

/* таблица клиентов */

.table-list-content{
  position: relative;
  margin-bottom: 40px;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.table-list-wrapper--loading .btn-add-user,
.table-list-wrapper:not(.table-list-wrapper--loading) .spinner {
  display: none;
}

.table-list-wrapper--loading .table-list__content {
  height: 400px;
  background-color: #ffffff;
}

.table-list-wrapper {
  padding: 40px 0;
}
.table-list {
  width: 100%;
  border-collapse: collapse;
}
.table-list__head {
  font-size: 12px;
  line-height: 16px;
  color: #B0B0B0;
  white-space: nowrap;
}
.table-list__sort{
  text-align: left;
  color: #B0B0B0;
  transition: color .3s ease-in-out;
}
.table-list__sort-desc {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #9873FF;
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
}
.table-list__head-sort-desc {
  transform: translateY(1px);
}

.table-list__sort--active {
  color: #9873FF;
}
.table-list__sort--active .table-list__svg-arrow,
.table-list__sort--active .table-list__sort-desc{
  opacity: 1;
}

.table-list__head {
  text-align: left;

  padding-bottom: 8px;
  font-weight: 400;
}


.table-list__col{
  padding-left: 20px;
  padding-right: 20px;
}


.table-list__body {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(200 197 209 / 50%);
  font-size: 14px;
  line-height: 19px;
  background-color: #FFF;
}

.table-list__col-id {
  font-size: 12px;
  line-height: 16px;
  color: #B0B0B0;
}
/* .table-list__col-name {
  white-space: nowrap;
} */

.table-list__date {
  margin-right: 7px;
}
.table-list__time {
  color: #B0B0B0;
}

.table-list__actions{
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  line-height: 19px;
}
.table-list__action {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}
.table-list__action-edit {
  margin-right: 30px;
}
.table-list__svg-arrow {
  vertical-align: middle;

  margin-left: 1px;
  width: 12px;
  height: 12px;

  fill: #9873FF;
  opacity: 0.7;

  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}
.table-list__svg-arrow--desc {
  transform: rotate(-180deg);
}


/* иконки контактов*/
.soc-link-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2px;
  margin-right: -2px;
  width: 100px;
}
.soc-link-item {
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 4px;
}
.soc-link {
  position: relative;
  display: block;
  vertical-align: middle;

  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.soc-link:last-child {
  margin-right: 0;
}
.soc-link__svg {
  width: 16px;
  height: 16px;
  fill: #9873ff;
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
}
.soc-link--more {
  width: 16px;
  height: 16px;
  border: 1px solid #9873ff;
  text-align: center;
  font-size: 8px;
  line-height: 13px;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.tooltip--active .soc-link__svg{
  opacity: 1;
}

/* Кнопки действий*/
.action-edit-svg {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
.action-edit-svg--edit {
  fill: #9873ff;
}
.action-edit-svg--cancel {
  fill: #F06A4D;
}
/* Тултип*/
.tooltip {
  position: relative;
}
.tooltip--active .tooltip__content{
  display: block;
}
.tooltip__content {
  position: absolute;
  left: 50%;
  bottom: calc(100% + 12px);
  transform: translateX(-50%);
  display: none;
  padding: 7px 14px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: #333;
}
.tooltip__content::before {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -8px;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #333;
}


/* Модальное окно*/
.modal-block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 6;
}

.modal-block:not(.modal-block--display) {
  display: none;
}

.modal-block__shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0 0 0 / 50%);
  transition: opacity .3s ease-in-out;
}
.modal-block:not(.modal-block--show) .modal-block__shadow{
  opacity: 0;
}
.modal-block__container {
  position: relative;
  width: 470px;
  max-width: 100%;
  max-height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.modal-block__inner{
  position: relative;
  background: #FFF;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}
.modal-block:not(.modal-block--show) .modal-block__inner{
  transform: translateY(-20px);
  opacity: 0;
}
.modal-block__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 17px;
  height: 17px;
  outline: none;

  background: url('/images/cross.png') center no-repeat;

  transition: opacity .3s ease-in-out;
}
.modal-block__close:focus-visible {
  opacity: 0.7;
}

.modal-block__row {
  padding: 25px 30px;
}
.modal-block__row > *:last-child{
  margin-bottom: 0;
}
.modal-block__row-pb-0 {
  padding-bottom: 0;
}

.modal-block__row--short {
  padding-top: 8px;
  padding-bottom: 8px;
}
.modal-block__row--gray {
  background-color: #ededed;
}

.modal-block__btn-wrapper {
  text-align: center;
}
