.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #C7C7C7;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-appearance: none;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}
