.section-users {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.users {
  width: 100%;
  text-align: left;
}

.users__header {
  padding: 0 2rem 0.8rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
  text-align: left;
  color: var(--color-grey);
}

.section-users__body {
  position: relative;
}

.section-users--loading .section-users__body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.btn-sort {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  transition: color 0.3s ease-in-out;
}

.btn-sort--selected {
  color: var(--color-firm);
}

.btn-sort:focus-visible {
  color: var(--color-dark);
}

.btn-sort__svg {
  margin-left: 0.1rem;
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--color-firm);
  transform: translateY(0.2rem);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-sort[data-sort="asc"] .btn-sort__svg {
  transform: translateY(0.2rem) rotate(180deg);
}

.btn-sort:focus-visible .btn-sort__svg {
  opacity: 1;
}

.btn-sort__measure {
  font-size: 1rem;
  line-height: inherit;
  color: var(--color-firm);
  transition: opacity 0.3s ease-in-out;
}

.btn-sort__measure,
.btn-sort__svg {
  opacity: 0.7;
}

.users__item {
  padding: 2rem;
  font-size: 1.4rem;
  line-height: 1.9rem;
  background-color: var(--color-light);
  border-bottom: 0.1rem solid rgb(200 197 209 / 50%);
}

.users__element--search .users__item {
  background-color: #fff4b2;
}

.users__element--search .users__item-name {
  font-weight: 700;
}

.users__item-id {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--color-grey);
}

.spin-area {
  display: none;
}

.section-users--loading .spin-area {
  position: relative;
  height: 10rem;
  background-color: var(--color-light);
}

.section-users--loading .spinner,
.section-users--loading .spin-area,
.section-search--loading .spinner,
.section-search--loading .spin-area {
  display: block;
}

.section-search--loading .spin-area {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

.section-search--loading .users {
  opacity: .6;
}


.section-users--loading .users__list,
.section-users--loading .btn-callmodal-add-user {
  display: none;
}

.section-users__body-spinner {
  --size: 8.6rem;
  width: var(--size);
  height: var(--size);
  top: 50%;
  left: 50%;
  margin: calc(var(--size) / -2) 0 0 calc(var(--size) / -2);
}

.btn-callmodal-add-user {
  margin-top: 4rem;
  white-space: nowrap;
}

.users__item-date {
  margin-right: 0.7rem;
}

.users__item-time {
  color: var(--color-grey);
}

.users__btn-edit,
.users__btn-delete {
  display: inline-flex;
  align-items: center;
  transform: translateY(0.2rem);
  transition: color 0.3s ease-in-out
}

.users__btn-edit {
  margin-right: 3rem;
}

.users__btn-edit-svg,
.users__btn-delete-svg {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.3rem;
}

.users__btn-edit-svg {
  fill: var(--color-firm);
}

.users__btn-delete-svg {
  fill: var(--color-red);
}

.users__btn-svg-spinner {
  display: none;
  fill: none;
  width: 1.6rem;
  height: 1.6rem;

}

.users__btn-edit .users__btn-svg-spinner {
  stroke: var(--color-firm);
}

.users__btn-delete .users__btn-svg-spinner {
  stroke: var(--color-red);
}

.users__btn--loading .users__btn-svg-spinner {
  position: static;
  display: block;
  margin-right: 0.3rem;
}

.users__btn--loading .users__btn-edit-svg,
.users__btn--loading .users__btn-delete-svg {
  display: none;
}

.users__btn--loading.users__btn-edit {
  color: var(--color-firm);
}

.users__btn--loading.users__btn-delete {
  color: var(--color-red);
}

.users__btn-edit:focus-visible {
  color: var(--color-firm);
}

.users__btn-delete:focus-visible {
  color: var(--color-red);
}



/* иконки контактов*/
.users__contacts {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.2rem;
  margin-right: -0.2rem;
  width: 10rem;
}

.users__contact {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-bottom: 0.4rem;
}

.users__contact-link {
  position: relative;
  display: block;
  vertical-align: middle;

  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

.users__contact-link:last-child {
  margin-right: 0;
}

.users__contact-link-svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-firm);
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
}

.users__contact-link--more {
  width: 1.6rem;
  height: 1.6rem;
  border: 0.1rem solid var(--color-firm);
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.3rem;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.tooltip--active .users__contact-link-svg {
  opacity: 1;
}

@media (min-width: 1024px) {
  .btn-sort:hover {
    color: var(--color-dark);
  }

  .btn-sort:hover .btn-sort__measure,
  .btn-sort:hover .btn-sort__svg {
    opacity: 1;
  }

  .users__btn-edit:hover {
    color: var(--color-firm);
  }

  .users__btn-delete:hover {
    color: var(--color-red);
  }

  .users__contact-link-svg:hover {
    opacity: 1;
  }

  .users__contact-link--more:hover {
    background-color: var(--color-firm-dark);
    color: var(--color-light);
  }
}

@media (max-width: 1240px) {
  .users__item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 1024px) {

  .users__item-date {
    margin-right: 0;
    display: block;
  }
}

@media (max-width: 768px) {
  .section-users__body {
    overflow: auto;
    margin-left: -2rem;
    margin-right: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .users {
    width: 72.8rem;
  }
}
